* {
    margin: 0;
    padding: 0;

}


body{
    background-color: rgb(31, 32, 31);
    color: white;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.conteiner{
    display: flex;
    flex-direction: column;
    
}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding:5px 20px;

}

header img{
    width: 100px;
}

ul{
    display: flex;
}
li{
    display: inline;
    
    
}
ul a{
    width: 80px;
    border-bottom: 1px solid #77C8EC;
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    color: #77C8EC;
    transform: 0.3s;
    
}

ul a:hover{
    background-color: #77C8EC;
    font-size: 16px;
    color:  rgb(31, 32, 31);
   

}

footer{
    max-width: 1160px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #77C8EC;
    margin: 0 0;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

aside{
    height: 500px;
    margin-bottom: 13px;
}

.btns{
    
    display: flex;
    text-align: center;
    align-self: center;
    width: 500px;
    border-radius: 10px;
    justify-content: space-around;
    color: #77C8EC;

}

.btns a{
    width: 212.11px;
    background-color: #77C8EC;
    border-radius: 10px;
    color:  rgb(31, 32, 31);
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
.btns a:hover{
    background-color: rgba(119, 200, 236, 0.8);
  
}
.conteiner2{
    display: flex;
    height: 250px;
   
}

.img2{
    margin: 10px;
    width: 250px;
    height: 174.92px;
    
}
#divadd{
    margin-top: 10px;
    display: flex;
    width: 600px;
    align-items:start;
    justify-content: space-around;
}

#divnoticias{
    width: 700px;
    text-align: justify;
    padding: 20px;
}
#h2noticia{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #77C8EC;
}
.divadd1{
    text-align: center;
   
}