
aside{
    display: flex;
    flex-direction: row;
}
.servicos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    max-width: calc(100% / 3 - 10px);
    margin: 10px;
    display: block;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    color: rgb(31, 32, 31);
    background-color: white;
  
}

.img1{
    max-width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.aserv{
    display: flex;
    bottom: 0;
    justify-content: center;
    align-self: flex-end;
    justify-self: end;
    padding-top: 21px;
    text-decoration: none;
    color: white;
    
}

span{
    background-color: #77C8EC;
    padding: 3px 10px;
    border-radius: 6px;
}
h2{
    margin-top: 15px;
}
